<!DOCTYPE html>
<html lang="en">

<head>
	<%- include("../partials/head") %>
</head>

<body>
	<main class="page-wrapper bg-dark">
		<section class="wrapper wrapper--w790">
			<div class="container">
				<div class="row min-vh-100 d-flex justify-content-center align-items-center">
					<div class="w-50">
						<div class="col-12 bg-danger text-white text-center d-flex align-items-center justify-content-center"
							style="height: 250px">
							<h2>USER ERROR SIGNUP</h2>
						</div>
						<div class="col-12 text-center">
							<button type="submit" class="btn bg-gra-01 border-dark rounded-pill w-100 my-2 fw-bold fs-4">
								<a class="text-dark text-decoration-none" href="/">VOLVER AL INICIO</a>
							</button>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
</body>

</html>